:root {
    --primary-color: #101C28;
    --secondary-color: #ffffff;
    --accent1-color: #9B7D5D;
    --accent2-color: #6A89A5;
    --heading-font: Bangers;
    --text-font: "DM Serif Text";
    --page-size: 1100px;
  }
  
  .bangers-regular {
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
  .dm-serif-text-regular {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .dm-serif-text-regular-italic {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: italic;
  }
  
h1 {
    font-size: 36px;
    font-weight: bold;
    color: var(--primary-color);
    font-family: var(--heading-font);
    text-align: center;
}

.hero-h1 {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 50px;
    background-color: var(--secondary-color);
    opacity: 0.9;
}

h2 {
    font-size: 30px;
    font-weight: bold;
    color: var(--primary-color);
    font-family: var(--heading-font);
    text-align: center;
}
p {
    font-size: 20px;
    font-weight: normal;
    color: var(--primary-color);
    font-family: var(--heading-font);
    text-align: left;
    margin-left: 10px;
}
iframe {
    width: 350px;
    height: 250px;
}
.body-container {
    max-width: var(--page-size);
    margin: 0 auto;
}
header {
    display: grid;
    grid-template-columns: 6fr 8fr 1fr;
    align-items: center;
    text-align: center;
}
.header-logo {
    margin: auto;
}
.header-navigation {
    display: flex;
}
.header-navigation a {
	color: var(--primary-color);
    padding: 10px 30px 10px 30px;
	text-decoration: none;
    border: 0.1px solid var(--primary-color);
    width: 100px;
}

.header-navigation p {
    width: 340px;
}

div {
    position: relative;
}
.contact-info {
    display: flex;
    justify-content: space-around;
  }
.hero-img {
    display: block;
    width: 100%;
    height: 400px;
}
article {
    position: absolute;
    top: 160px;
    background-color: var(--secondary-color);
    opacity: 0.8;
    width: 900px;
    left: 100px;
    padding: 10px;
}
.happy-img {
    width: 250px;
    margin-left: 10px;
    float: right;
}
.history-layout {
    display: grid;
    grid-template-columns: 3fr 2fr 3fr;
    grid-template-rows: 1fr 2fr;
    align-items: center;
    gap: 10px;
  }
.item1 {
    grid-column: 1/4;
    grid-row: 1;
}
.item2 {
    grid-column: 2;
    grid-row: 2;
    width: 250px;
}
.item3 {
    grid-column: 1;
    grid-row: 2;
} 
.item4 {
    grid-column: 3;
    grid-row: 2;
}

.adventure-layout {
    display: flex;
    text-align: center;
    justify-content: center;
}
.adventure-img {
    width: 190px;
    height: 130px;
    object-fit: cover;
    margin: 0 -20px 0 -20px;
}
.employee-img {
    width: 180px;
    height: 260px;
    object-fit: cover;
    margin: 0 -20px 0 -20px;
}
.adventure-layout figcaption {
    color: var(--primary-color);
    font-family: var(--heading-font);
}
form {
    margin: 10px 0px 10px 0px;
    padding: 5px;
    border: var(--primary-color);
    border-radius: 0.2px;
    background-color: var(--accent2-color);
    display: grid;
    color: var(--primary-color);
    font-size: 1rem;
    place-items: center;
}
fieldset {
    display: grid;
    grid-gap: 20px;
    padding: 15px;
    margin: 10px;
    border: 1px solid var(--primary-color);
    width: 90%;
    font-family: var(--heading-font);
}

legend {
    padding: 15px 30px 2px 30px;
    font-size: 1.3rem;
    font-weight: 900;
}

label, input, button, select, textarea {
    font-family: var(--text-font);
}

label {
    text-align: left;
    padding-right: 15px;
}

input, select, textarea {
    font-size: 1.15rem;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
    margin-right: 10px;
}
.button {
    margin: 5px;
    border-radius: 0.5px;
    font-size: 1.15rem;
    width: 155px;
    height: 40px;
    background-color: var(--accent1-color);
    text-decoration: none;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 1.35fr 1fr 1.5fr;
}

.column2 {
    grid-template-columns: 1fr 4.5fr 4.15fr;
}

.column3 {
    grid-template-columns: 1fr 29fr;
}

.homegrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.homegrid img {
    height: 240px;
    margin-top: 15px;
}
.homegrid p {
    margin: 15px;
}

.tripgrid {
    display: grid;
    grid-template-columns: 1.4fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr;
    text-align: center;
    gap: 15px;
}

.tripgrid img{
    height: 200px;
    width: 100%;
    margin-left: 20px;
}

.tripgrid p{
    margin-bottom: 12px;
}

.tripgrid div {
    margin-top: -20px;
}

.tripgrid a{
    color: var(--primary-color);
    font-size: 1.5rem;
    padding: 7px;
    background-color: var(--accent1-color);
    text-decoration: none;
}

.centertext {
    text-align: center;
    margin: 10px 0 10px 10px;
    background-color: var(--accent2-color);
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;  /* Stretch the image to cover the entire container */
    height: 100%; /* Stretch the image to cover the entire container */
    object-fit: cover;  /* Ensure the entire image is visible within the container */
    z-index: -1;  /* Place the image behind the text content */
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }

footer p {
    text-align: center;
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
}
footer nav a {
    text-decoration: none;
    float: right;
    margin-left: 6px;
}