* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 10px;
    color: #16082f;
    background: #ffffff;
    width: 1100px;
    display: grid;
    place-items: center;
}

h1 {
    margin: 10px;
    padding: 5px;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

form {
    width: 1000px;
    margin: 10px;
    padding: 5px;
    border: #16082f;
    border-radius: 0.2px;
    background-color: rgb(219, 218, 218);
    display: grid;
    color: #16082f;
    font-size: 1rem;
    place-items: center;
}
fieldset {
    display: grid;
    grid-gap: 20px;
    padding: 15px;
    margin: 10px;
    border: 1px solid #16082f;
}

legend {
    padding: 15px 30px 2px 30px;
    font-size: 1.3rem;
    font-weight: 900;
}

label, input, button, select, textarea {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

label {
    text-align: left;
    padding-right: 15px;
}

input, select, textarea {
    font-size: 1.15rem;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
    margin-right: 10px;
}

button {
    margin: 5px;
    border-radius: 0.5px;
    font-size: 1.15rem;
    width: 140px;
    height: 40px;
    background-color: rgba(76, 165, 48, 0.925);
}

footer {
    margin: 10px;
    text-align: center;
    font-size: 1rem;
    color: #16082f;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 1fr 1fr 1.5fr;
}

.column2 {
    grid-template-columns: 1fr 4.5fr 4.15fr;
}