:root {
    --heading-background: darkblue;
    --heading-text-color: white;
    --border: 1px solid rgba(0, 0, 0, 0.2);
    --padding: 15px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Class Selectors */
.box {
    margin: 1rem;
    padding: 1rem;
    border: var(--border);
    background-color: #eee;
    color: #333;
}

nav {
    background-color: var(--heading-background);
    padding: var(--padding);
}

nav a {
    color: var(--heading-text-color);
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
    padding: var(--padding);
}

main img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin-left: 10px;
}

p {
    padding: var(--padding);
}

main {
    max-width: 840px;
}

li {
    padding: 2px;
    margin-left: 15px;
}

aside {
    width: 20rem;
    text-align: center;
}

aside h2 {
    position: relative;
    top: 90px;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: var(--border);
    text-align: center;
}